:root {
  --color-primary: #ff3299;
  --color-secondary: #6cfff3;
  --color-success: #c3ffe9;
  --color-error: #ffabb5;
  --color-gray-light: #f1f3f5;
  --color-gray: #adadad;
  --color-gray-dark: #666;
  --color-black: #000;
  --color-white: #fff;
}